/node_modules
/public/hot
/public/.DS_Store
/app/.DS_Store
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
*/*/.DS_Store
_ide_helper.php
schema-directives.graphql
storage/artists.index
storage/albums.index
storage/tracks.index
.DS_Store
